<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nile.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nile.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NILE</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NILE</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuctionsDB1" Order="1" Enabled="False">
          <Destination Path="Data Source=nile-commerce.database.windows.net;Initial Catalog=iep_projekat;Persist Security Info=True;User ID=cm150428d;Password=9#.D1E4625Ad" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="E_Commerce.Models.AuctionsDB, E_Commerce" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuctionsDB2" Order="2" Enabled="False">
          <Destination Path="Data Source=nile-commerce.database.windows.net;Initial Catalog=iep_projekat;Persist Security Info=True;User ID=cm150428d;Password=9#.D1E4625Ad" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="E_Commerce.Models.ApplicationDbContext, E_Commerce" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuctionsDB" Order="3" Enabled="False">
          <Destination Path="Data Source=nile-commerce.database.windows.net;Initial Catalog=iep_projekat;Persist Security Info=True;User ID=cm150428d;Password=9#.D1E4625Ad" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DULE-PC;Initial Catalog=e_commerce;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuctionsDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DULE-PC;initial catalog=e_commerce;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AuctionsDB-Web.config Connection String">
      <ParameterValue>data source=nile-commerce.database.windows.net;initial catalog=iep_projekat;persist security info=True;user id=cm150428d;password=9#.D1E4625Ad;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AuctionsDB1-Web.config Connection String">
      <ParameterValue>Data Source=nile-commerce.database.windows.net;Initial Catalog=iep_projekat;Persist Security Info=True;User ID=cm150428d;Password=9#.D1E4625Ad</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AuctionsDB2-Web.config Connection String">
      <ParameterValue>Data Source=nile-commerce.database.windows.net;Initial Catalog=iep_projekat;Persist Security Info=True;User ID=cm150428d;Password=9#.D1E4625Ad</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>